 <!-- Mainly scripts -->
    <script src="<?=$config['host'];?>/assets/js/jquery-3.1.1.min.js"></script>
    <script src="<?=$config['host'];?>/assets/js/popper.min.js"></script>
    <script src="<?=$config['host'];?>/assets/js/bootstrap.js"></script>
    <script src="<?=$config['host'];?>/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="<?=$config['host'];?>/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="<?=$config['host'];?>/assets/js/inspinia.js"></script>
    <script src="<?=$config['host'];?>/assets/js/plugins/pace/pace.min.js"></script>

    <script src="<?=$config['host'];?>/assets/js/plugins/dataTables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>