<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?=$config['title'];?></title>
    <!-- Meta Tag -->
    <meta property="og:title" content="<?=$config['title'];?>">
    <meta property="og:description" content="Software Instagram Marketing All In One">
    <meta property="og:url" content="<?=$config['host'];?>">
    <meta property="og:type" content="website">
    <!-- Start Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<?=$config['host'];?>/assets/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<?=$config['host'];?>/assets/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<?=$config['host'];?>/assets/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<?=$config['host'];?>/assets/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<?=$config['host'];?>/assets/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<?=$config['host'];?>/assets/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<?=$config['host'];?>/assets/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<?=$config['host'];?>/assets/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<?=$config['host'];?>/assets/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<?=$config['host'];?>/assets/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<?=$config['host'];?>/assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<?=$config['host'];?>/assets/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<?=$config['host'];?>/assets/icon/favicon-16x16.png">
    <link rel="manifest" href="<?=$config['host'];?>/assets/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<?=$config['host'];?>/assets/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- End Icon -->
    <!-- Start CSS -->
    <link href="<?=$config['host'];?>/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?=$config['host'];?>/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="<?=$config['host'];?>/assets/css/animate.css" rel="stylesheet">
    <link href="<?=$config['host'];?>/assets/css/style.css" rel="stylesheet">
    <!-- End CSS -->
    <!-- Datatables -->
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- End Datatables -->
</head>