<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="<?=$config['host'];?>/assets/img/profile_small.jpg"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold"><?=$_SESSION['user_axepay']['username'];?></span>
                            <span class="text-muted text-xs block"><?=ucfirst($_SESSION['user_axepay']['level']);?> <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="<?=$config['host'];?>/account/profile">Profile</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="<?=$config['host'];?>/account/logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        Axe
                    </div>
                </li>
                <li>
                    <a href="<?=$config['host'];?>"><i class="fa fa-home"></i> <span class="nav-label">Beranda</span></a>
                </li>
                <li>
                    <a href="<?=$config['host'];?>"><i class="fa fa-th-large"></i> <span class="nav-label">Menu</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="<?=$config['host'];?>/home">Beranda</a></li>
                    </ul>
                </li>
                <li>
                    <a href="<?=$config['host'];?>"><i class="fa fa-instagram"></i> <span class="nav-label">Tools</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="<?=$config['host'];?>/p/instabot">Instagram BOT</a></li>
                        <li><a href="<?=$config['host'];?>/p/instapost">Instagram Post BOT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="<?=$config['host'];?>"><i class="fa fa-user"></i> <span class="nav-label">User</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="<?=$config['host'];?>/account/profile">Profile</a></li>
                        <li><a href="<?=$config['host'];?>/account/logout">Logout</a></li>
                    </ul>
                </li>
                <?php
                if($data_user['level'] == 'admin'){
                ?>
                <li>
                    <a href="<?=$config['host'];?>"><i class="fa fa-user-secret"></i> <span class="nav-label">Admin Menu</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="<?=$config['host'];?>/adminer/user">Account Data</a></li>
                        <li><a href="<?=$config['host'];?>/adminer/instagram">Instagram Data</a></li>
                    </ul>
                </li>
                <?php } ?>
            </ul>
        </div>
    </nav>